<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="#" id="connectLinkNotion">Connect Notion</a><br>
    <a href="#" id="connectLinkGoogle">Connect Google</a>

    <script>
        document.getElementById("connectLinkNotion").addEventListener("click", function(event) {
            event.preventDefault();  // Prevent the default link behavior
            
            // Set the authorization header
            const headers = new Headers();
            headers.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwYXNoYUBnbWFpbC5jb20iLCJleHAiOjE3MTM3OTk3OTZ9.B8hhnH67Mh7Bb9BDHhHN1-nKFJYNUX_Sj-nPWwoITeY");

            // Construct the fetch request with the authorization header
            fetch("http://0.0.0.0:8000/notion/connect", {
                method: "GET",
                headers: headers,
                redirect: 'follow',
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(function(err) {
                console.info(err + " url: " + url);
            });
        });

        document.getElementById("connectLinkGoogle").addEventListener("click", function(event) {
            event.preventDefault();  // Prevent the default link behavior
            
            // Set the authorization header
            const headers = new Headers();
            headers.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwYXNoYUBnbWFpbC5jb20iLCJleHAiOjE3MTM3OTk3OTZ9.B8hhnH67Mh7Bb9BDHhHN1-nKFJYNUX_Sj-nPWwoITeY");

            // Construct the fetch request with the authorization header
            fetch("http://0.0.0.0:8000/google_tasks/connect", {
                method: "GET",
                headers: headers,
                redirect: 'follow',
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(function(err) {
                console.info(err + " url: " + url);
            });
        });
    </script>
</body>
</html>
